section.section.section_dark.gallery(id='gallery')
	div.container.gallery__container
		h2.section__title.section__title_light Art Gallery
		div.gallery__pictures
			div.pictures__container
				img.gallery__img(src=gallery1Src, alt='')
				img.gallery__img(src=gallery2Src, alt='')
				img.gallery__img(src=gallery3Src, alt='')
				img.gallery__img(src=gallery4Src, alt='')
				img.gallery__img(src=gallery5Src, alt='')
				img.gallery__img(src=gallery6Src, alt='')
				img.gallery__img(src=gallery7Src, alt='')
				img.gallery__img(src=gallery8Src, alt='')
				img.gallery__img(src=gallery9Src, alt='')
				img.gallery__img(src=gallery10Src, alt='')
				img.gallery__img(src=gallery11Src, alt='')
				img.gallery__img(src=gallery12Src, alt='')
				img.gallery__img(src=gallery13Src, alt='')
				img.gallery__img(src=gallery14Src, alt='')
				img.gallery__img(src=gallery15Src, alt='')